@import '../../../styles.scss';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: transparent;
}

.form-control {
    font-family: 'Roboto', sans-serif;
    color: white; 
    box-shadow: 2px 2px 2px #80F0BE;
    border-radius: 0%;
}

.button {
  background-color: $mint-green;
  border: solid $dark-green 2px;
  padding: 0 8px;
  color: white;
}