@import '../../../styles.scss';

main {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: transparent;
}


 .about-container {
	max-width: 100%;
	align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 3%;
}

.text-section {
    display: flex;
    //flex-direction: row;
    text-align: left;
    //align-items: left;
    justify-content: space-around;
}

.text-container {
   width: 100%;
   height: auto;
   padding-left: 16px;
}

h1 { 
    //background-color: mix(#fff, #00fff2, 3%);
    color: mix(#fff, #fca2ff, 85%);
    //font-size: 40px;
    font-size: 2.5em;
    font-family: "lato", sans-serif;
    font-weight: 100;
    letter-spacing: .09em;
    line-height: 2em;
}

.about-section {
  display: inline;
  justify-content: start;
  //width: 100%;
}

img {
  max-width: 80%;
  //border-radius: 50%;
}

.about-text {
  color: $white;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 100;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  main {
    height: 100%;
  }
  .about-section {
    display: block;
  }

  .image {
    width: 30%;
    height: 30%;
  }
}