@import '../../../styles.scss';

main {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: transparent;
}



/*
.about-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding-right: 4%;
	max-width: 100%;
	display: inline flex;
	align-items: center;
	justify-content: center;
}
*/

 .about-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding-right: 4%;
	max-width: 100%;
	display: inline flex;
	align-items: center;
	justify-content: center;
}

.text-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.text-container {
   width: 70%;
}

.neon-section-headers {
    font-family: "lato", sans-serif;
    flex: 0 0 100%;
    padding: 2vw 0;
    margin: 0;
    color: transparent;
    text-align: center; 
    z-index: 5;
    -webkit-user-select: none;
    font-family: "lato", sans-serif;
    font-size: 1.5em; 
    text-shadow: 0 0 .1vw #d0f3bc, 0 0 .5vw #f970fd, 0 0 1.5vw #f970fd;
}

h1 { 
    //background-color: mix(#fff, #00fff2, 3%);
    color: mix(#fff, #fca2ff, 85%);
    //font-size: 40px;
    font-size: 2.5em;
    font-family: "lato", sans-serif;
    font-weight: 100;
    letter-spacing: .09em;
    line-height: 2em;
}

.about-section {
  display: inline;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 20%;
}

.about-text {
  color: $white;
  font-size: 18px;
  font-family: "lato", sans-serif;
  font-weight: 100;
}

@media only screen and (max-width: 600px) {
  main {
    height: 100%;
  }
  .about-section {
    display: block;
  }

  .image {
    width: 30%;
    height: 30%;
  }
}