<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<main>
    <div class="intro-section">
        <div class="hello-container">
                <h1><span class="neon" style="color: #1ee9df; font-weight: 100;">Hello,</span>
                    <br><span style="font-weight: 100; font-size: .7em;">I'M ADRIANNA MCKEOWN, AND I AM A</span>
                    <span class="neon" style="color: #1ee9df; font-weight: 100; font-size: .7em;"> 
                        Software Engineer.
                    </span>
                </h1>
                <a class="resume-btn" href="../../../assets/Resume_Adrianna_McKeown.pdf" target="_blank">VIEW RESUME</a>
            </div>
    </div>
</main>