@import '../styles.scss';

main {
    background-color: $pink;
    align-items: center;
    text-align: center;
    float: block;
}

header {
    width: 100%;
    height: auto;
    background-color: $pink;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 1px;
    z-index: 9999;
}

/* NAVBAR */
nav {
    float: right;
    //background-color: transparent;
    
}

.nav-link {
    list-style: none;
    //background-color: transparent;
}

.nav-link li {
    display: inline-block;
    //background-color: transparent;
}

.nav-link li a {
    display: block;
    padding: 20px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 100;
    background-color: transparent;
    //font-family: 'Courier New', Courier, monospace;
    font-family: 'Roboto', sans-serif;
    //font-family: Consolas;
}


/* ICON BAR */
.icon-bar {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  background: none;
  font-size: 30px;
}

.fa {
  //left: 30px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  color: white;
  margin-bottom: 15px;
}

.fa-envelope {
  color: white;
  margin-bottom: 15px;
}

.fa-linkedin {
  color: white;
  margin-bottom: 15px;
}

.fa-facebook {
  color: white;
}

.components {
  display: flex;
  flex-direction: column;
}


.sections-content {
    background-color: transparent;
}

.content {
    background: transparent;
}
/* HELLO INTRO TEXT */

.hello {
    padding-top: 12em;
    padding-left: 12%;
    padding-right: 15%;
}

h1 { 
    //background-color: mix(#fff, #00fff2, 3%);
    color: white;
    //font-size: 80px;
    font-size: 3em;
    //font-family: "lato", sans-serif;
    font-family: Raleway;

    font-weight: 100;
    letter-spacing: .09em;
    text-align: center;
    justify-content: center;
    //background: $pink;
    line-height: 0.9;
}

h2 { 
  font-family: Raleway;
  color: white;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: .09em;
  line-height: 2em;
}

.intro-outline {
  background-color: $mint-green;
  border: solid $dark-green 3px;
}

.resume-outline {
  border: solid $dark-green 3px;
  color: $dark-green;
  height: 40px;
}


/* SECTION FORMATTING */
section {
    padding-top: 9em;
    padding-left: 10%;
    padding-right: 12%;
}

.section-header {
  font-family: Raleway;
  color: white;
  font-size: 20px;
  font-weight:800;
  letter-spacing: .09em;
  text-align: left;
}

.section-subheader {
  font-family: Consolas;
  color: $mint-green;
  font-size: 3em;
  font-weight: 100;
  letter-spacing: .09em;
  text-align: left;
}



@media only screen and (max-width: 600px) {
  .icon-bar {
    left: 1px;
  }

  .hello {
    padding-top: 8em;
    padding-left: 10%;
    padding-right: 12%;
}

    .navbar {
        display: inline-block;
    }

    .navbar-toggler {
        //width: 100%;
        float: none;
        margin-right: 60px;
    }

}