<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <header>
    <div class="container">
        <nav>
            <ul class="nav-link">
                <li><a class="neon" href="#hero" routerLinkActive="active">Home</a></li>
                <li><a class="neon" href="#about" routerLinkActive="active">About</a></li>
                <li><a class="neon" href="#skills" routerLinkActive="active">Skills</a></li>
                <li><a class="neon" href="#work" routerLinkActive="active">Work</a></li>
                <li><a class="neon" href="#contact" routerLinkActive="active">Contact</a></li>
                <li><a class="neon" href="#blog" routerLinkActive="active">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
  <div class="icon-bar">
    <a class="fa fa-github" href="https://github.com/amckeow3" target="_blank"></a>
    <a class="fa fa-envelope" href="mailto: adrianna_mckeown@live.com"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/adriannamckeown/" target="_blank"></a>
    <a class="fa fa-facebook" href="https://www.facebook.com/adrianna.mckeown.3" target="_blank"></a>
  </div>
  <div class="sections-content">
    <section class="content" id="home">
        <app-hero></app-hero>
    </section>
    
    <section class="content" id="about">
        <app-about></app-about>
    </section>
    
    <section class="content" id="skills">
        <h1>Skills</h1>
    </section>
    
    <section class="content" id="work">
        <h1>Work</h1>
    </section>
    
    <section class="content" id="contact">
        <h1>Contact</h1>
    </section>
    
    </div>
</main>