<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<main>
  <header>
        <nav class="navbar navbar-toggleable-md navbar-light navbar-expand-lg">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarColor02">
            <span class="navbar-toggler-icon">
              <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav nav-link ms-auto">
                <li class="nav-item"><a href="#about" routerLinkActive="active">About</a></li>
                <!--<li><a href="#skills" routerLinkActive="active">02. Skills & Tools</a></li>-->
                <li class="nav-item"><a href="#work" routerLinkActive="active">Work</a></li>
                <li class="nav-item"><a href="#contact" routerLinkActive="active">Contact</a></li>
                <li class="nav-item"><a href="https://adriannamckeown.hashnode.dev/" target="_blank">Blog</a></li>
                <li class="nav-item"><a href="" target="_blank"><span style="color: white; text-shadow: 2px 2px 2px #80F0BE;">Resume</span></a></li>
            </ul>
          </div>
      </nav>
</header>
  <div class="icon-bar">
    <a class="fa fa-github" href="https://github.com/amckeow3" target="_blank"></a>
    <a class="fa fa-envelope" href="mailto: adrianna_mckeown@live.com"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/adriannamckeown/" target="_blank"></a>
    <a class="fa fa-facebook" href="https://www.facebook.com/adrianna.mckeown.3" target="_blank"></a>
  </div>
  
  <div class="sections-content">
      <div class="hello">
      <h1>Hello, I'm Adrianna!</h1>
        <h2>I'm a Software Engineer and 
          <div class="textcontent">
            <div class="textcontent__container">
              <ul class="textcontent__container__list">
                <li class="textcontent__container__list__item">chihuahua mom. <i class="fas fa-dog" style="font-size: 30px;"></i></li>
                <li class="textcontent__container__list__item">Boston sports fan. <i class="fas fa-football-ball " style="font-size: 30px;"></i></li>
                <li class="textcontent__container__list__item">Disney fanatic. <i class="fas fa-magic" style="font-size: 30px;"></i></li>
                <li class="textcontent__container__list__item">half marathon runner. <i class="fas fa-running" style="font-size: 30px;"></i></li>
              </ul>
            </div>
          </div>
          
        </h2>
    </div>
    
    <section class="content" id="about">
      <div class="section-header">
       ABOUT
      </div> 
      <div class="section-subheader">
        Who I Am
      </div>
      <app-about></app-about>
    </section>
    
    <!--
    <section class="content" id="skills">
      <h2><span class="neon-section-header" style="color: #fca2ff; font-weight: 100; font-size: .9em;">
        02. Skills & Tools</span>
      </h2> 
      <app-skills></app-skills>
    </section>
  -->
    
  <section class="content" id="work">
    <div class="section-header">
      WORK
     </div> 
     <div class="section-subheader">
       Some Things I've Built
     </div>
    <app-work></app-work>
  </section>

    <section class="content" id="contact">
      <div class="section-header">
        CONTACT  
      </div> 
      <div class="section-subheader">
         Get In Touch
      </div>
      <app-contact></app-contact>
    </section>

    </div>

    <footer>
      &copy; Adrianna McKeown 2021
    </footer>
</main>