@import "bootstrap";

body {
    background-color: $pink;
    align-items: center;
    text-align: center;
    float: block;
  }
  
  
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* ICON BAR */
.icon-bar {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  background: none;
  font-size: 30px;
}

.fa {
  //left: 30px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  color: white;
  margin-bottom: 15px;
}

.fa-envelope {
  color: white;
  margin-bottom: 15px;
}

.fa-linkedin {
  color: white;
  margin-bottom: 15px;
}

.fa-facebook {
  color: white;
}

.components {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .icon-bar {
    left: 1px;
  }
}

.navbar {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav {
  width: 100%;
  height: 110px;
  padding: 0 30px;
  text-align: right;
  position: relative;
  background: transparent;
  outline: none;
}

.nav-link.active {
  color: black;
}

.navbar-brand {
  color: $dark-grey;
}

nav ul,
nav ul li {
  display: inline-block;
  padding-left: 40px;
}


nav ul li a {
  color: $dark-grey;
  font-size: 25px;
  text-decoration: none;
  //font-family: 'Courier New', monospace;
  font-family: Consolas, monaco, monospace;
  font-weight: 100;
}

nav ul li a:hover {
  color: $light-purple;
  opacity: 1.4;
}

.active {
  color: $light-purple;
  opacity: 1.4;
}

.resume-link {
  display: flex;
  border: solid 2px $tiffany-blue;
  background: $tiffany-blue;
  width: 95px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
}

.navbar-brand {
  margin-left: -30px;
  font-size: 40px;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    margin-left: 0;
  }
}
