
$white: #f2f2f2;
$pastel-pink: #ffeff3;
$dark-grey: #464545;
$dark-purple: #01011d;


$pink: #FC9FD7;
$mint-green: #80F0BE;
$dark-green: #00B564;




* {
  height: auto;
  box-sizing: border-box;
  background: $pink;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  width: 100%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
